html {
    background-color: #C1C1CA;
    font-family: 'Source Sans Pro Light', sans-serif;
    body {
        margin: 0;
        height: 100vh;
    }
    h1 {
        margin-bottom: 5px;
    }
    h2 {
        margin-top: 5px;
    }

    div#game {
        display: block;
        width: 450px;
        margin: auto;
        background-color: #FDFDFD;
        box-shadow: 0 0 6px rgba(0, 0, 0, 0.17);
        padding: 15px 30px;
        height: 100%;
        box-sizing: border-box;
        #board{
            display: inline-block;
            line-height: 0px;
            margin-left: 20px;
            margin-top:10%;
        }
        .cell{
            border-radius: 1px;
            padding: 0;
            margin: 0;
            display: inline-block;
        }
    }

    
    div#score {
        width: 38%;
        display: inline-block;
        margin-left: 10px;
        vertical-align: top;
        h3 {
            display: inline-block;
            margin: 0 1px;
            font-size: 1em;
        }
        p#score-count {
            display: inline-block;
            vertical-align: middle;
            margin-left: 10px;
        }
        div#next-shapes{
            overflow: hidden;
            .shape{
                display:block;
                position: relative;
                line-height: 0px;
                margin: 5px;
                float: right;
                clear: both;
            }
        }
    }

    div#death {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        background: rgba(255,255,255,0.6);
        display: none;

        .modal {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 360px;
            height: 100px;
            margin-left: -200px;
            margin-top: -60px;
            background-color: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            padding: 20px;

            span {
                font-size: 31px;
                display: block;
            }

            a {
                margin-top: 20px;
                display: inline-block;
                text-decoration: none;
                background: #48C552;
                color: #F0FFF5;
                padding: 10px 20px;
                border-radius: 10px;
                float: right;
            }
        }
    }
}

